@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This page was created by Marc Gillioz, as part of a project presented on <a href="https://gillioz.github.io/">this blog</a>.</p>