**/.idea/**

literature

# Python
**/__pycache__/

# .NET solution
dotnet/**/.idea/
dotnet/**/bin/
dotnet/**/obj/
dotnet/**/*.DotSettings.user
dotnet/temp*
dotnet/data/**/*.json

# Jupyter notebooks
**/.ipynb_checkpoints

# C++
cpp/.idea/
cpp/bin
cpp/cmake-build-default
cpp/*.cmake
cpp/CMakeCache.txt
cpp/CMakeFiles
cpp/Makefile
cpp/data/temp

deeplearning/data*
deeplearning-disjoint/data*
deeplearning-disjoint/runs

