.idea/
dotnet/.idea
dotnet/MorpionSolitaire/bin
dotnet/MorpionSolitaire/obj
dotnet/MorpionSolitaireWeb/bin
dotnet/MorpionSolitaireWeb/obj
dotnet/MorpionSolitaireGraph/bin
dotnet/MorpionSolitaireGraph/obj
dotnet/MorpionSolitaireCLI/bin
dotnet/MorpionSolitaireCLI/obj
