**/.idea/

# Python
**/__pycache__/

# .NET solution
dotnet/**/.idea/
dotnet/**/bin/
dotnet/**/obj/
dotnet/**/*.DotSettings.user
dotnet/temp*
dotnet/data/**/*.json

# Jupyter notebooks
**/.ipynb_checkpoints